[Unit]
Description=ipfs cluster daemon

[Service]
ExecStart=/bin/ipfs-cluster-service daemon
Restart=always
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
