[Unit]
Description=ipfs cluster daemon

[Service]
ExecStart=/bin/ipfs-cluster-service daemon --bootstrap /ip4/10.0.1.223/tcp/9096/p2p/12D3KooWARLA8SNmyFqAEPSoUnBJ5dAtL8vtoNSDUZNehdEktEUQ
Restart=always
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
